*{
    padding:0px;
    margin:0px;
}

.nav-y{
    max-width:100%;
    color:white;
    background-color: rgb(177, 6, 117);
    display:flex;
    justify-content: center;
    padding:5px;
    

}
#wh-nav{
    position:sticky;
}

.nav-y2{
    position:sticky;
    max-width:100%;
    height:50px;
    background-color: rgb(225, 220, 229);
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:10px;
}
.navbar-middle{
    display:flex;
    align-items:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 50px;
}

.left-ul, .right-ul{
    display:flex;
    list-style-type: none;
    padding:0px;
    font-weight:bold;
    color:black;
}
.left-li{
    margin-right:10px;
}

.left-li a{
    text-decoration: none;
    color:black;
}
.shift-effect{
    display:inline-block;
    color:#333;
    transition: all 0.3s ease;
}

.shift-effect:hover{
    font-weight: bold;
    padding-left:10px;
}

.image-container{
    max-width:80%;
}
.txt-over{
    position:absolute;
    top:38%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 80px;
    font-weight: bolder;
    color:rgb(3, 91, 37);
    
    
}

.btn-over{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: yellow;
    color:blue;
    font-weight: bold;
    font-size:30px;
    padding:7px;
    height:50px;
    width:15%;
    display:flex;
    align-items: center;
    justify-content: center;
    
    

}

.greenry{
    background-color: rgb(18, 69, 40);
    width:100%;
    height:70%;



}
.descp{
    color:aliceblue;
    font-size:50px;
    font-weight: bold;
    display:flex;
    align-items:center;
    justify-content:center;
    top:50%;
    left:50%;
    padding-top:200px;
    margin-right:10px;
    margin-bottom:50px;
    display:block;
}
.snake{
    position: relative;
    top:10%;

}

.nav2{
    display:flex;
    justify-content:center;
    background-color: aliceblue;
    height:20%;
    align-items: center;

}
.nav2-items{
    display:flex;
    list-style-type: none;
    padding:0px;
}
.nav2-items li{
    margin:0px 10px;
}

.nav2-items li a{
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-size:30px;
}
.nav2-items li a:hover{
    text-decoration: underline;
}

.prd-container{
    display:flex;
    justify-content: space-between;

}
.prd{
    width:30%;
    text-align:center;
}
.prd img{
    width:60%;
    height:auto;

}
.des-prd{
    margin-top:10px;
    font-weight: bolder;
    text-decoration: none;
    font-size: larger;

}

.glass{
    width:100%;
    height:80%;
    display:flex;
    background-color: rgb(245, 180, 16);

}

.glass-left img{
    float:left;
    width:110%;
    height:100%;

}

.glass-right{
    
    top:30px;
    justify-content:center;
    
}

#intro{
    margin-bottom:2px;

}
.glass-container{
    display:flex;
    background-color: rgb(245,180,16);
    height:50%;
    margin-top:20px;
}
.left-div{
    width:70%;
}

.left-div img{
    width: 100%;
    height:100%;
}
.right-div{
    width:30%;
    position:relative;
    
    
}

.head1{
    position:absolute;
    top:30%;
    left:20px;
}
.bottom-txt{
    position:absolute;
    top:50%;
    left:20px;


}

.card-container{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    background-color: rgb(8, 15, 16);

}
.card-container1{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    margin-top:30px;
    background-color:#0f0303;

}
.card{
    width: 330px;
    height:250px;
    perspective:1000px;
    overflow:hidden;
    margin-left:80px;
    margin-right:80px;
    justify-content: space-evenly;
}
.card-inner{
    width:100%;
    height:100%;
    object-fit:cover;
    position:relative;
    transform-style:preserve-3d;
    transition:transform 0.5s;
}

.card:hover .card-inner{
    transform:rotateY(180deg);
}

.card-front, .card-back{
    width:100%;
    height:100%;
    position:absolute;
    backface-visibility:hidden;
}

.card-front{
    background-color: #e1dddd;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card-back{
    transform:rotateY(180deg);
    background-color: #1c1b1b;
    padding:20px;
    color:white;
    overflow:hidden;
    text-align:center;
}

.card-back p{
    overflow: hidden;
}
.card-img{
    max-width:100%;
    max-height:100%;
    object-fit:cover;
}

.add{
    background-color: #4caf50;
    border-radius: 5px;
    color:#fff;
    border:none;
    padding:10px 20px;
    margin-top:20px;
    cursor:pointer;
}
.add:hover{
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top:50px;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-logo img {
    width: 100px;
  }

  .btn-over a{
    text-decoration: none;
  }
  
  .footer-links a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .footer-social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
  }
  
  .footer-bottom {
    margin-top: 10px;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }